#message-container{
    position: absolute;
    width: 96%;
    margin: 0 2% 0 2%;
    display: flex;
    flex-direction: column;
    min-height: 10vh;
    z-index:2;
    border-radius: 9px;
    margin-top: 2vmax;
    color: black;
    gap: 1.5vmax;
    max-height: 55%;
    overflow: hidden;
}

.message{
    display: flex;
    border-radius: 9px;
    flex-direction: column;
    padding: 1vmax;
    gap: .5vmax;
    background-color: var(--root-color);
    color: white;
    font-size: larger;
    
}

.message-upper-part{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 47%;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.message-body{
    text-align: center;
    width: 100%;
}